/*          GLOBAL VARIABLES     */

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --Grayish-blue: hsl(208, 11%, 55%);

    /* Typography */
    --font-sz: 18px;
    --poppins: 'Poppins',san-serif;
    --opensans: 'Open Sans';
    --font-400: 400;
    --font-700: 700;
    --font-600: 600;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-size: var(--font-sz);
    font-family: var(--opensans);

}


/* Header Section */
header {
    width: 100%;
    background-image: url(./images/bg-hero-mobile.svg);
    padding: .5rem;
    background-color: var(--very-pale-cyan);
}
.header-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 3rem 0;
    padding-top: 1rem;
}
/* Logo */
#logo {
    width: 6rem;
}
/* Header btn */
.header-btn{
    height: 2.5rem;
    width: 8rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: var(--font-400);
    color: var(--very-dark-cyan);
    background-color: white;
    box-shadow: var(--light-shadow);
    letter-spacing: 2px;
}

/* Header Body */
.header-body{
    text-align: center;
    margin: 5rem 0.5rem 3rem;
}
.header-body-text{
    margin: 1rem 0 1rem 0;
    
}
.header-body-text h1{
    font-family: var(--poppins);
    font-weight: var(--font-700);
    font-size: 25px;
    margin-bottom: 2rem;
}
.header-body-text p {
    margin: 0 0.5rem;
}

.header-body-img{
    width: 100%;
}
.mockup {
    width: 100%;
}

.get-started-btn {
    width: 15rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 15px;
    background-color: var(--pink);
    border: none;
    color: white;
    font-weight: var(--font-600);
    box-shadow: var(--light-shadow);
    margin: 1rem 0;
}

/* MAIN */
main {
    width: 100%;
    padding: 1rem;
    
}

/* SECTIONS */
.container {
    width: 100%;
}

/* Card Components */

.content {
    margin: 1rem auto 2rem auto;
    display: flex;
    flex-direction: column-reverse;
    
}

.text {
    text-align: center;
}
.text h2 {
    font-family: var(--poppins);
    font-weight: var(--font-700);
    color: var(--very-dark-cyan);
    margin: 1rem 1rem;
}

.text p {
    opacity: 0.5;
    margin: 1rem 1rem;

}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
}


/* Call to Action */
.call-to-action {
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--dark-shadow);
    border-radius: 10px;
    transform: translateY(65%);
    /* max-width: 80%; */

}

.call-to-action h2 {
    font-size: 25px;
    font-family: var(--poppins);
    font-weight: var(--font-700);
}

/* Footer */

footer {
    background-color: var(--very-dark-cyan);
    color: white;
    padding: 1rem;
}

#footer-logo {
    color: white;
    margin-top: 5rem;
}


.footer-box {
    margin: 1rem 0;
    
}
.footer-box > * {
    margin: 1rem 0;
}
.block{
    display: block;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    padding-top: .5rem;
}
.footer-box p {
    margin-left: .5rem;
    max-width: 15rem;
}
.footer-link {
    display: block;
    margin: .5rem auto;
}

.footer-icon {
    margin-top: .3rem;
    display: inline-block;
    margin-right: .5rem;
}

/* Social Icons */
.social-icons {
    
    display: flex;
    justify-content: center;
}
.icons {
    border: 1px solid white;
    border-radius: 50%;
    margin: .3rem;
    padding: .5rem;

}

.icon-box{
    display: flex;
    flex-direction: column;
}
/* COpyWright */
.copy {
    text-align: center;
}



/* DESKTOP DESIGNS */
@media (min-width: 700px)
{
    header {
        background-image: url(./images/bg-hero-desktop.svg);
        padding: 1rem 2rem 0;
    }
    #logo {
        width: auto;
        margin-left: 2rem;
    }
    

    .header-body {
        display: flex;
    }
    .header-body-text {
        text-align: start;
        max-width: 25rem;
        margin: 4rem 4rem 0 2rem;
    }
    .header-body-text h1 {
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .header-body-text p {
        font-size: 16px;
        opacity: 0.7;
        margin-bottom: 1rem;
    }
    .mockup {
        margin-bottom: 2rem;
    }
    .header-body-img {
        margin: 0 1rem 0 4rem;
    }
    .container {
        margin-top: 5rem;
    }
    .content {
        flex-direction: row;
        max-width: 80%;
        height: 350px;
        align-items: center; 
        padding: 2rem 1rem 2rem 2rem;
        border-radius: 10px;
        box-shadow: var(--light-shadow);
    }

    .row-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .text {
        text-align: start;
        max-width: 500px;
        margin-left: auto;
    }
    .image {
        height: 300px;
        width: 400px;
        margin: auto;
    }

    .call-to-action {
        width: 40%;
        height: 10rem;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
    }
    .footer-box {
        margin: 2rem;
        font-size: 16px;
        
    }

    .footer-box-x {
        margin-top: 7rem;
    }
    .footer-box .footer-link {
        margin: 1rem 0;
    }
    .icon-box {
        height: 18rem;
        justify-content: space-between;
        text-align: start;
    }
    .social-icons {
        justify-content: start;
        margin-top: 5rem;
    }
    .icons {
        margin: 0 1rem;
        padding: .7rem;
    }
    .icons > * {
        font-size: var(--font-sz);
    }


}

/* ACTIVE STATES */
.header-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.get-started-btn:hover {
   background-color: hsl(322, 100%, 80%);
   cursor: pointer;
}
.footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.icons:hover {
    color: var(--pink);
    border-color: var(--pink);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--Grayish-blue); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--pink); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--very-pale-cyan); 
  }